.main-header1{



border: 1px solid;
height: 900%;

background-image: url('header1.jpg')  ;
background-size: cover;
background-repeat: no-repeat;

}
.main-header2{
    background-color: #921bc2;
    opacity: 0.8;
}
.heade-menue a{
    display: inline-block;
    margin: 0 10px;
    text-decoration: none;
    color: green;
}
.heade-menue a:hover{
    color: indigo;
}
.caption{
    letter-spacing: 2px;
    color: white;
    font-size: 20px;
    font-family: Tahoma,
}